<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yskc.pms.mapper.PmsRedPacketMapper" >
  <resultMap id="BaseResultMap" type="com.yskc.pms.entity.PmsRedPacket" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_account" property="userAccount" jdbcType="VARCHAR" />
    <result column="serial_number" property="serialNumber" jdbcType="VARCHAR" />
    <result column="red_bag_type" property="redBagType" jdbcType="INTEGER" />
    <result column="red_bag_money" property="redBagMoney" jdbcType="BIGINT" />
    <result column="efficacious_time" property="efficaciousTime" jdbcType="TIMESTAMP" />
    <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_account, serial_number, red_bag_type, red_bag_money, efficacious_time, creation_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yskc.pms.entity.PmsRedPacketExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pms_red_packet
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="startRow != null and pageSize != null and pageSize != 0">
      limit #{startRow,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pms_red_packet
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pms_red_packet
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yskc.pms.entity.PmsRedPacketExample" >
    delete from pms_red_packet
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yskc.pms.entity.PmsRedPacket" >
    insert into pms_red_packet (id, user_account, serial_number, 
      red_bag_type, red_bag_money, efficacious_time, 
      creation_time)
    values (#{id,jdbcType=BIGINT}, #{userAccount,jdbcType=VARCHAR}, #{serialNumber,jdbcType=VARCHAR}, 
      #{redBagType,jdbcType=INTEGER}, #{redBagMoney,jdbcType=BIGINT}, #{efficaciousTime,jdbcType=TIMESTAMP}, 
      #{creationTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yskc.pms.entity.PmsRedPacket" >
    insert into pms_red_packet
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userAccount != null" >
        user_account,
      </if>
      <if test="serialNumber != null" >
        serial_number,
      </if>
      <if test="redBagType != null" >
        red_bag_type,
      </if>
      <if test="redBagMoney != null" >
        red_bag_money,
      </if>
      <if test="efficaciousTime != null" >
        efficacious_time,
      </if>
      <if test="creationTime != null" >
        creation_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userAccount != null" >
        #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="serialNumber != null" >
        #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="redBagType != null" >
        #{redBagType,jdbcType=INTEGER},
      </if>
      <if test="redBagMoney != null" >
        #{redBagMoney,jdbcType=BIGINT},
      </if>
      <if test="efficaciousTime != null" >
        #{efficaciousTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creationTime != null" >
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yskc.pms.entity.PmsRedPacketExample" resultType="java.lang.Integer" >
    select count(*) from pms_red_packet
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pms_red_packet
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userAccount != null" >
        user_account = #{record.userAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.serialNumber != null" >
        serial_number = #{record.serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.redBagType != null" >
        red_bag_type = #{record.redBagType,jdbcType=INTEGER},
      </if>
      <if test="record.redBagMoney != null" >
        red_bag_money = #{record.redBagMoney,jdbcType=BIGINT},
      </if>
      <if test="record.efficaciousTime != null" >
        efficacious_time = #{record.efficaciousTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creationTime != null" >
        creation_time = #{record.creationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pms_red_packet
    set id = #{record.id,jdbcType=BIGINT},
      user_account = #{record.userAccount,jdbcType=VARCHAR},
      serial_number = #{record.serialNumber,jdbcType=VARCHAR},
      red_bag_type = #{record.redBagType,jdbcType=INTEGER},
      red_bag_money = #{record.redBagMoney,jdbcType=BIGINT},
      efficacious_time = #{record.efficaciousTime,jdbcType=TIMESTAMP},
      creation_time = #{record.creationTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yskc.pms.entity.PmsRedPacket" >
    update pms_red_packet
    <set >
      <if test="userAccount != null" >
        user_account = #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="serialNumber != null" >
        serial_number = #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="redBagType != null" >
        red_bag_type = #{redBagType,jdbcType=INTEGER},
      </if>
      <if test="redBagMoney != null" >
        red_bag_money = #{redBagMoney,jdbcType=BIGINT},
      </if>
      <if test="efficaciousTime != null" >
        efficacious_time = #{efficaciousTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creationTime != null" >
        creation_time = #{creationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yskc.pms.entity.PmsRedPacket" >
    update pms_red_packet
    set user_account = #{userAccount,jdbcType=VARCHAR},
      serial_number = #{serialNumber,jdbcType=VARCHAR},
      red_bag_type = #{redBagType,jdbcType=INTEGER},
      red_bag_money = #{redBagMoney,jdbcType=BIGINT},
      efficacious_time = #{efficaciousTime,jdbcType=TIMESTAMP},
      creation_time = #{creationTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>