<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zscat.pms.mapper.PmsStoreMerchantMapper" >
  <resultMap id="BaseResultMap" type="com.zscat.core.model.PmsStoreMerchant" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="license" property="license" jdbcType="VARCHAR" />
    <result column="license_no" property="licenseNo" jdbcType="VARCHAR" />
    <result column="identity_card_front" property="identityCardFront" jdbcType="VARCHAR" />
    <result column="identity_card_contrary" property="identityCardContrary" jdbcType="VARCHAR" />
    <result column="identity_card_photo" property="identityCardPhoto" jdbcType="VARCHAR" />
    <result column="identity_card" property="identityCard" jdbcType="VARCHAR" />
    <result column="relation_phone" property="relationPhone" jdbcType="VARCHAR" />
    <result column="standby_phone" property="standbyPhone" jdbcType="VARCHAR" />
    <result column="wechat_id" property="wechatId" jdbcType="VARCHAR" />
    <result column="bank_card_photo" property="bankCardPhoto" jdbcType="VARCHAR" />
    <result column="bank_card" property="bankCard" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="evaluate_state" property="evaluateState" jdbcType="INTEGER" />
    <result column="store_classify_id" property="storeClassifyId" jdbcType="INTEGER" />
    <result column="longitude" property="longitude" jdbcType="DOUBLE" />
    <result column="latitude" property="latitude" jdbcType="DOUBLE" />
    <result column="intro" property="intro" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="INTEGER" />
    <result column="enable" property="enable" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, address, picture, license, license_no, identity_card_front, identity_card_contrary, 
    identity_card_photo, identity_card, relation_phone, standby_phone, wechat_id, bank_card_photo, 
    bank_card, state, evaluate_state, store_classify_id, longitude, latitude, intro, 
    create_by, create_date, update_by, update_date, remarks, enable
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zscat.core.model.PmsStoreMerchantExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pms_store_merchant
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitSize >= 0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pms_store_merchant
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pms_store_merchant
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zscat.core.model.PmsStoreMerchantExample" >
    delete from pms_store_merchant
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zscat.core.model.PmsStoreMerchant" >
    insert into pms_store_merchant (id, name, address, 
      picture, license, license_no, 
      identity_card_front, identity_card_contrary, 
      identity_card_photo, identity_card, relation_phone, 
      standby_phone, wechat_id, bank_card_photo, 
      bank_card, state, evaluate_state, 
      store_classify_id, longitude, latitude, 
      intro, create_by, create_date, 
      update_by, update_date, remarks, 
      enable)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{picture,jdbcType=VARCHAR}, #{license,jdbcType=VARCHAR}, #{licenseNo,jdbcType=VARCHAR}, 
      #{identityCardFront,jdbcType=VARCHAR}, #{identityCardContrary,jdbcType=VARCHAR}, 
      #{identityCardPhoto,jdbcType=VARCHAR}, #{identityCard,jdbcType=VARCHAR}, #{relationPhone,jdbcType=VARCHAR}, 
      #{standbyPhone,jdbcType=VARCHAR}, #{wechatId,jdbcType=VARCHAR}, #{bankCardPhoto,jdbcType=VARCHAR}, 
      #{bankCard,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{evaluateState,jdbcType=INTEGER}, 
      #{storeClassifyId,jdbcType=INTEGER}, #{longitude,jdbcType=DOUBLE}, #{latitude,jdbcType=DOUBLE}, 
      #{intro,jdbcType=VARCHAR}, #{createBy,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=INTEGER}, #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=INTEGER}, 
      #{enable,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zscat.core.model.PmsStoreMerchant" >
    insert into pms_store_merchant
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="picture != null" >
        picture,
      </if>
      <if test="license != null" >
        license,
      </if>
      <if test="licenseNo != null" >
        license_no,
      </if>
      <if test="identityCardFront != null" >
        identity_card_front,
      </if>
      <if test="identityCardContrary != null" >
        identity_card_contrary,
      </if>
      <if test="identityCardPhoto != null" >
        identity_card_photo,
      </if>
      <if test="identityCard != null" >
        identity_card,
      </if>
      <if test="relationPhone != null" >
        relation_phone,
      </if>
      <if test="standbyPhone != null" >
        standby_phone,
      </if>
      <if test="wechatId != null" >
        wechat_id,
      </if>
      <if test="bankCardPhoto != null" >
        bank_card_photo,
      </if>
      <if test="bankCard != null" >
        bank_card,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="evaluateState != null" >
        evaluate_state,
      </if>
      <if test="storeClassifyId != null" >
        store_classify_id,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="intro != null" >
        intro,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="enable != null" >
        enable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="license != null" >
        #{license,jdbcType=VARCHAR},
      </if>
      <if test="licenseNo != null" >
        #{licenseNo,jdbcType=VARCHAR},
      </if>
      <if test="identityCardFront != null" >
        #{identityCardFront,jdbcType=VARCHAR},
      </if>
      <if test="identityCardContrary != null" >
        #{identityCardContrary,jdbcType=VARCHAR},
      </if>
      <if test="identityCardPhoto != null" >
        #{identityCardPhoto,jdbcType=VARCHAR},
      </if>
      <if test="identityCard != null" >
        #{identityCard,jdbcType=VARCHAR},
      </if>
      <if test="relationPhone != null" >
        #{relationPhone,jdbcType=VARCHAR},
      </if>
      <if test="standbyPhone != null" >
        #{standbyPhone,jdbcType=VARCHAR},
      </if>
      <if test="wechatId != null" >
        #{wechatId,jdbcType=VARCHAR},
      </if>
      <if test="bankCardPhoto != null" >
        #{bankCardPhoto,jdbcType=VARCHAR},
      </if>
      <if test="bankCard != null" >
        #{bankCard,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="evaluateState != null" >
        #{evaluateState,jdbcType=INTEGER},
      </if>
      <if test="storeClassifyId != null" >
        #{storeClassifyId,jdbcType=INTEGER},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="intro != null" >
        #{intro,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=INTEGER},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zscat.core.model.PmsStoreMerchantExample" resultType="java.lang.Integer" >
    select count(*) from pms_store_merchant
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pms_store_merchant
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.picture != null" >
        picture = #{record.picture,jdbcType=VARCHAR},
      </if>
      <if test="record.license != null" >
        license = #{record.license,jdbcType=VARCHAR},
      </if>
      <if test="record.licenseNo != null" >
        license_no = #{record.licenseNo,jdbcType=VARCHAR},
      </if>
      <if test="record.identityCardFront != null" >
        identity_card_front = #{record.identityCardFront,jdbcType=VARCHAR},
      </if>
      <if test="record.identityCardContrary != null" >
        identity_card_contrary = #{record.identityCardContrary,jdbcType=VARCHAR},
      </if>
      <if test="record.identityCardPhoto != null" >
        identity_card_photo = #{record.identityCardPhoto,jdbcType=VARCHAR},
      </if>
      <if test="record.identityCard != null" >
        identity_card = #{record.identityCard,jdbcType=VARCHAR},
      </if>
      <if test="record.relationPhone != null" >
        relation_phone = #{record.relationPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.standbyPhone != null" >
        standby_phone = #{record.standbyPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.wechatId != null" >
        wechat_id = #{record.wechatId,jdbcType=VARCHAR},
      </if>
      <if test="record.bankCardPhoto != null" >
        bank_card_photo = #{record.bankCardPhoto,jdbcType=VARCHAR},
      </if>
      <if test="record.bankCard != null" >
        bank_card = #{record.bankCard,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.evaluateState != null" >
        evaluate_state = #{record.evaluateState,jdbcType=INTEGER},
      </if>
      <if test="record.storeClassifyId != null" >
        store_classify_id = #{record.storeClassifyId,jdbcType=INTEGER},
      </if>
      <if test="record.longitude != null" >
        longitude = #{record.longitude,jdbcType=DOUBLE},
      </if>
      <if test="record.latitude != null" >
        latitude = #{record.latitude,jdbcType=DOUBLE},
      </if>
      <if test="record.intro != null" >
        intro = #{record.intro,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=INTEGER},
      </if>
      <if test="record.enable != null" >
        enable = #{record.enable,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pms_store_merchant
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      picture = #{record.picture,jdbcType=VARCHAR},
      license = #{record.license,jdbcType=VARCHAR},
      license_no = #{record.licenseNo,jdbcType=VARCHAR},
      identity_card_front = #{record.identityCardFront,jdbcType=VARCHAR},
      identity_card_contrary = #{record.identityCardContrary,jdbcType=VARCHAR},
      identity_card_photo = #{record.identityCardPhoto,jdbcType=VARCHAR},
      identity_card = #{record.identityCard,jdbcType=VARCHAR},
      relation_phone = #{record.relationPhone,jdbcType=VARCHAR},
      standby_phone = #{record.standbyPhone,jdbcType=VARCHAR},
      wechat_id = #{record.wechatId,jdbcType=VARCHAR},
      bank_card_photo = #{record.bankCardPhoto,jdbcType=VARCHAR},
      bank_card = #{record.bankCard,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=INTEGER},
      evaluate_state = #{record.evaluateState,jdbcType=INTEGER},
      store_classify_id = #{record.storeClassifyId,jdbcType=INTEGER},
      longitude = #{record.longitude,jdbcType=DOUBLE},
      latitude = #{record.latitude,jdbcType=DOUBLE},
      intro = #{record.intro,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=INTEGER},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      remarks = #{record.remarks,jdbcType=INTEGER},
      enable = #{record.enable,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zscat.core.model.PmsStoreMerchant" >
    update pms_store_merchant
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="license != null" >
        license = #{license,jdbcType=VARCHAR},
      </if>
      <if test="licenseNo != null" >
        license_no = #{licenseNo,jdbcType=VARCHAR},
      </if>
      <if test="identityCardFront != null" >
        identity_card_front = #{identityCardFront,jdbcType=VARCHAR},
      </if>
      <if test="identityCardContrary != null" >
        identity_card_contrary = #{identityCardContrary,jdbcType=VARCHAR},
      </if>
      <if test="identityCardPhoto != null" >
        identity_card_photo = #{identityCardPhoto,jdbcType=VARCHAR},
      </if>
      <if test="identityCard != null" >
        identity_card = #{identityCard,jdbcType=VARCHAR},
      </if>
      <if test="relationPhone != null" >
        relation_phone = #{relationPhone,jdbcType=VARCHAR},
      </if>
      <if test="standbyPhone != null" >
        standby_phone = #{standbyPhone,jdbcType=VARCHAR},
      </if>
      <if test="wechatId != null" >
        wechat_id = #{wechatId,jdbcType=VARCHAR},
      </if>
      <if test="bankCardPhoto != null" >
        bank_card_photo = #{bankCardPhoto,jdbcType=VARCHAR},
      </if>
      <if test="bankCard != null" >
        bank_card = #{bankCard,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="evaluateState != null" >
        evaluate_state = #{evaluateState,jdbcType=INTEGER},
      </if>
      <if test="storeClassifyId != null" >
        store_classify_id = #{storeClassifyId,jdbcType=INTEGER},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="intro != null" >
        intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=INTEGER},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zscat.core.model.PmsStoreMerchant" >
    update pms_store_merchant
    set name = #{name,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
      license = #{license,jdbcType=VARCHAR},
      license_no = #{licenseNo,jdbcType=VARCHAR},
      identity_card_front = #{identityCardFront,jdbcType=VARCHAR},
      identity_card_contrary = #{identityCardContrary,jdbcType=VARCHAR},
      identity_card_photo = #{identityCardPhoto,jdbcType=VARCHAR},
      identity_card = #{identityCard,jdbcType=VARCHAR},
      relation_phone = #{relationPhone,jdbcType=VARCHAR},
      standby_phone = #{standbyPhone,jdbcType=VARCHAR},
      wechat_id = #{wechatId,jdbcType=VARCHAR},
      bank_card_photo = #{bankCardPhoto,jdbcType=VARCHAR},
      bank_card = #{bankCard,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      evaluate_state = #{evaluateState,jdbcType=INTEGER},
      store_classify_id = #{storeClassifyId,jdbcType=INTEGER},
      longitude = #{longitude,jdbcType=DOUBLE},
      latitude = #{latitude,jdbcType=DOUBLE},
      intro = #{intro,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=INTEGER},
      enable = #{enable,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>



  <select id="selectByLoction" resultMap="BaseResultMap" parameterType="hashmap" >
    select
    <include refid="Base_Column_List" />
    from pms_store_merchant
    <if test="longitude != null and latitude != null">
      <where>
        latitude > #{latitude}-1 and latitude &lt; #{latitude}+1 and longitude &gt; #{longitude}-1
        and longitude  &lt; #{longitude}+1 order by ACOS(SIN((#{latitude} * 3.1415) / 180 ) *SIN((latitude * 3.1415) / 180 ) +COS((#{latitude} * 3.1415) / 180 ) * COS((latitude * 3.1415) / 180 ) *COS((#{longitude}* 3.1415) / 180 - (longitude * 3.1415) / 180 ) ) * 6380 asc
      </where>
    </if>
    <if test="limit != null">
      limit #{limit}
    </if>

  </select>

  <select id="queryPmsStoreMerchantByPage" resultMap="BaseResultMap"> select
    <include refid="Base_Column_List" />
      from pms_store_merchant
  </select>
</mapper>