<style>
    .contents{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
   .picture img:hover{
       cursor: pointer;
       transition: all 0.6s;
       transform: scale(1.9);
   }
</style>
<div xmlns:th="http://www.thymeleaf.org">
    <div class="cont-header">
        <div class="layui-card">
            <div class="layui-card-header">参数管理</div>
            <div class="layui-card-body">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-sm layui-btn-normal" onclick="openDialogForm('参数添加','/adm/storeMerchant/addform','1000px','500px');">新建</button>
                </div>
            </div>
        </div>
    </div>
    <div class="cont-main">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="layui-btn-container">
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th style="width: 13%">店铺名字</th>
                            <th style="width: 13%">店铺地址</th>
                            <th style="width: 13%">店铺照片</th>
                            <th style="width: 13%">营业执照</th>
                            <th style="width: 11%">身份证</th>
                            <th style="width: 13%">联系电话(注册账号)</th>
                            <th style="width: 13%">备用电话(餐厅电话)</th>
                            <th style="width: 11%">微信号</th>
                            <th style="width: 14%">开户银行卡</th>
                            <th style="width: 10%">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="item:${page.list}">
                            <tr>
                                <td th:text="${item.name}"></td>
                                <td th:text="${item.address}"></td>
                                <td class="picture">
                                    <img th:src="${item.picture}" width="80px" height="80px"/>
                                </td>
                                <td th:text="${item.license}"></td>
                                <td th:text="${item.identityCard}"></td>
                                <td th:text="${item.relationPhone}"></td>
                                <td th:text="${item.standbyPhone}"></td>
                                <td th:text="${item.wechatId}"></td>
                                <td th:text="${item.bankCard}"></td>
                                <td style="text-align: center">
                                    <div class="tpl-table-black-operation layui-btn-group">
                                        <button th:onclick="'openDialogForm(\'参数修改\',\'/adm/storeMerchant/updateform?id='+ ${item.id} +'\',\'1000px\',\'500px\');'" class="layui-btn layui-btn-sm layui-btn-primary">
                                            <i class="layui-icon layui-icon-edit"></i>修改</button>
                                        <button th:onclick="'enableClick(\''+ ${item.id} + '\','+ ${item.enable} +')'" class="layui-btn layui-btn-sm layui-btn-primary" style="border-left: 1px solid #c9c9c9;">
                                            <i class="layui-icon layui-icon-delete"></i>
                                            <span th:if="${item.enable==1}" >禁用</span>
                                            <span th:if="${item.enable==0}" >启用</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                    <div id="pageDiv"></div>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        function enableClick(id,key){
            var title = key == 1? '禁用' :'启用' ;
            enable('/adm/storeMerchant/del?id='+ id , title);
        }
        layui.use('laypage', function(){
            var laypage = layui.laypage;
            //执行一个laypage实例
            laypage.render({
                elem: 'pageDiv' //注意，这里的 test1 是 ID，不用加 # 号
                ,curr: [[${page.pageNum}]]
                ,limit: [[${page.pageSize}]]
                ,count: [[${page.total}]] //数据总数，从服务端得到
                ,jump:function (obj, first) {
                    //首次不执行
                    if(!first){
                        refreshPages({offset:obj.curr});
                    }
                }
            });
        });
</script>
</div>
