<div xmlns:th="http://www.thymeleaf.org">
    <div class="cont-header">
        <div class="layui-card">
            <div class="layui-card-header">用户管理 <span style="color: red" th:text="'（总数：'+${page.total}+'个）'"></span></div>
            <div class="layui-card-body">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-sm layui-btn-normal" onclick="openDialogForm('添加用户','/adm/merchandise/addform','900px','500px');">新建</button>
                    <button class="layui-btn layui-btn-sm layui-btn-warm">暖色按钮</button>
                    <button class="layui-btn layui-btn-sm layui-btn-danger">警告按钮</button>
                </div>
            </div>
        </div>
    </div>
    <div class="cont-main">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="layui-btn-container">
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th style="width: 13%">编号</th>
                            <th style="width: 13%">名称</th>
                            <th style="width: 13%">描述</th>
                            <th style="width: 13%">类型</th>
                            <th style="width: 13%">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="item:${array}">
                            <tr>
                                <td th:text="${item.code}"></td>
                                <td th:text="${item.name}"></td>
                                <td th:text="${item.memo}"></td>
                                <td th:text="${item.isOnOff}==0?'系统定义':'普通用户'"></td>
                                <td style="text-align: center">
                                    <div class="tpl-table-black-operation layui-btn-group">
                                        <button th:onclick="'openDialogForm(\'参数修改\',\'/adm/merchandise/updateform?id='+${item.typeId}+'\',\'1000px\',\'500px\');'" class="layui-btn layui-btn-sm layui-btn-primary">
                                            <i class="layui-icon layui-icon-edit"></i>修改</button>
                                        <button  th:onclick="'dels(\'http://localhost:9900/api/admin/save/merchandise/deleteform?id='+${item.typeId}+'\');'" class="layui-btn layui-btn-sm layui-btn-primary">
                                            <i class="layui-icon layui-icon-delete"></i>删除</button>
                                    </div>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                    <div id="pageDiv"></div>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        layui.use('laypage', function(){
            var laypage = layui.laypage;
			
            //执行一个laypage实例
            laypage.render({
            	elem: 'pageDiv' //注意，这里的 test1 是 ID，不用加 # 号
                    ,curr: [[${page.current}]]
                    ,limit: [[${page.count}]]
                    ,count: [[${page.total}]] //数据总数，从服务端得到
                    ,jump:function (obj, first) {
                        //obj包含了当前分页的所有参数，比如：
                        console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                        console.log(obj.limit); //得到每页显示的条数

                        //首次不执行
                        if(!first){
                            refreshPages({offsets:obj.curr});
                        }
                }
            });
        });
        function resetPass(uid) {
            layer.confirm('你确定要重置密码为（123456）吗！？',function () {
                $.ajax({
                    url:'/api/admin/save/user/reset-pass',
                    type:'post',
                    dataType:'json',
                    data:{id:uid},
                    success:function (json) {
                        layer.msg('重置成功(密码：123456)',{icon:1});
                    },error:function (req) {
                        layer.msg('服务器出错',{icon:0});
                    }
                });
            });
        }
    </script>
</div>
